{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    <div class="content-section">
	<legend class="border-bottom mb-3"> About Us </legend>
	<div>
            <p>
             <img src="{% static 'aboutS.png' %}" width="100%" height="auto"> 
            </p>
            <center>
            <h4> Let's make learning Technology a lot more fun!  </h4>
            <p> You will be able to Pick a Membership and Have Access to Different Things! </p>
            <p>
             <img src="{% static 'about.png' %}" width="80%" height="auto"> 
            </p>
            <p>
        	Our goal is to make learning technology easier and faster. as technology is getting more advanced, more people should be able to use them.  <br>
        	We use videos for a more concentrated learning, followed by posts to explain materials clearly. <br>
        	Help us grow by joining our Enterprise and Professional Membership. The more we grow, more contents are availble for free!<br>
        	</p>
            </center>
	</div>
</div>
{% endblock content %}
