{% extends 'blog/base.html' %}

{% block content %}
<div class="content-section">
	 <legend class="border-bottom mb-3"> Select a membership </legend>
	<div class="row">
		{% for object in object_list %}
		<div class="col-sm-4 col-md-4">
			<h4>{{ object.membership_type }}</h4>
			<p> Price: IDR {{ object.price }} <small> /month </small> </p>
			<h4> Included Courses </h4>
			<ul>
				{% for course in object.course_set.all %}
					<li>{{ course.title }}</li>
				{% endfor %}
			</ul>
			{% if object.membership_type != 'Free' %}
			<form method="POST" action="{% url 'users:select' %}">
				{% csrf_token %}
				{% if object.membership_type != current_membership %}
					<center> <button class="btn btn-warning mt-2 mb-2">Select</button> </center>
				{% else %}
					<small>This is your current membership</small>
				{% endif %}
				<input type="hidden" name="membership_type" value="{{ object.membership_type }}">
			</form>			
			{% endif %}	
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}