{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block post_detail_link %}
<li>{{ object.title }}</li>
{% endblock %}

{% block content %}
	<div class="content-section">
		 <legend class="border-bottom mb-3"> Course Lessons </legend>
				
				<p>
				<h5>{{ object.title }}</h5>  </p>
				<p>{{ object.description }}</p>
				<ol>
					{% for lesson in object.lessons %}
					<li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
					{% endfor %}
				</ol>
				
		</div>

{% endblock %}